/*Reset de CSS por Josh Comeau*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Reset de CSS próprio*/
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/*Variáveis CSS*/
:root {
    /*Paleta de Cores*/
    --background-color: oklch(20.8% 0.040 265.8);
    --surfaces-color: oklch(27.9% 0.037 260.0);
    --borders-color: oklch(37.2% 0.039 257.3);
    --primary-color: oklch(58.5% 0.204 277.1);
    --primary-accent-color: oklch(68.0% 0.158 276.9);
    --primary-text-color: oklch(98.4% 0.003 247.9);
    --secondary-text-color: oklch(71.1% 0.035 256.8);

    /*Tamanhos de fontes*/
    --xtra-large: 3rem;
    --large: 2rem;
    --medium: 1rem;
}

/*Fontes*/
body {
    font-family: "Inter", sans-serif;
}

h1, h2, h3 {
    font-family: "Syne", sans-serif;
}

/*Estilização CSS*/
body {
    background-color: var(--background-color);
    color: var(--primary-text-color);

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

header {
    background-color: var(--surfaces-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid var(--borders-color);

    padding: 0 20px;
}

.nav-list {
    color: var(--secondary-text-color);

    display: flex;
    gap: 8px;
}

.nav-link {
    padding: 2px 4px;
    border-radius: 8px;

    transition: background-color 250ms ease;
}

.nav-link:hover {
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.hero-left {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.hero-highlight {
    font-size: var(--xtra-large);
}

.hero-text {
    color: var(--secondary-text-color);
    font-size: var(--medium);
}

.cont-link {
    background-color: var(--primary-color);

    padding: 6px 18px;

    border: none;
    border-radius: 10px;
}

.hero-img img{
    height: 300px;
    width: 550px;

    border-radius: 10px;
}


